<!DOCTYPE html>
<html>
<head>
  <title>Tagit</title>
  <%= stylesheet_link_tag    "tagit/application", :media => "all" %>
  <%= javascript_include_tag "tagit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
